<section class="about-sect">
  <a href="#about" id="about"></a>
  <div class="container container-about">
    <div class="description-container">
      <h2 class="title-about">About This Game</h2>
      <p class="description-about">
        Candy Blitz is a supercharged puzzle game that delivers the sweetness of
        classic match-3 mechanics with the excitement of real-time gameplay.
        Designed for casual fun and competitive thrill-seekers alike, Candy
        Blitz invites you into a colorful world of candy mayhem, lightning
        combos, and endless rewards. Whether you’re in it for the leaderboard or
        just to relax and swipe through sweet levels, Candy Blitz is your
        perfect escape!
      </p>
    </div>
    <div class="img-container">
      <img
        class="img-about"
        width="288"
        height="195"
        src="/img/mobile/about-mob.png"
        srcset="/img/mobile/about-mob@2x.png 2x"
        alt="about-img"
      />
    </div>
  </div>
</section>
