<section class="burger-menu visually-hidden">
  <div class="burger-container">
    <nav class="burger-nav">
      <div class="burger-header">
        <img
          class="burger-img"
          src="../img/desktop/Favicon.png"
          alt="Game Logo"
        />
        <button class="burger-menu-btn" aria-label="Open menu">
          <svg
            width="23"
            height="26"
            viewBox="0 0 23 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_ii_258_1705)">
              <path
                d="M6.88229 19.7366C6.4843 20.1865 5.77861 20.1824 5.38062 19.7325C5.04595 19.3542 5.04308 18.7824 5.37775 18.4041L9.57217 13.6626C9.90684 13.2843 9.90684 12.7158 9.57217 12.3374L5.37775 7.59591C5.04308 7.21759 5.04595 6.64584 5.38062 6.26752C5.77861 5.81761 6.4843 5.81346 6.88229 6.26336L10.751 10.6366C11.149 11.0865 11.851 11.0865 12.249 10.6366L16.1176 6.26336C16.5156 5.81346 17.2213 5.81761 17.6193 6.26752C17.954 6.64584 17.9568 7.21759 17.6222 7.59591L13.4277 12.3374C13.0931 12.7158 13.0931 13.2843 13.4278 13.6626L17.6222 18.4041C17.9568 18.7824 17.954 19.3542 17.6193 19.7325C17.2213 20.1824 16.5156 20.1865 16.1176 19.7366L12.249 15.3634C11.851 14.9135 11.149 14.9135 10.751 15.3634L6.88229 19.7366Z"
                fill="url(#paint0_linear_258_1705)"
              />
            </g>
            <defs>
              <filter
                id="filter0_ii_258_1705"
                x="3.12817"
                y="3.92801"
                width="16.7437"
                height="18.144"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"
                />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dx="-2" dy="-2" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite
                  in2="hardAlpha"
                  operator="arithmetic"
                  k2="-1"
                  k3="1"
                />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0"
                />
                <feBlend
                  mode="normal"
                  in2="shape"
                  result="effect1_innerShadow_258_1705"
                />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dx="2" dy="2" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite
                  in2="hardAlpha"
                  operator="arithmetic"
                  k2="-1"
                  k3="1"
                />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0"
                />
                <feBlend
                  mode="normal"
                  in2="effect1_innerShadow_258_1705"
                  result="effect2_innerShadow_258_1705"
                />
              </filter>
              <linearGradient
                id="paint0_linear_258_1705"
                x1="11.5"
                y1="5.41667"
                x2="11.5"
                y2="20.5833"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" />
              </linearGradient>
            </defs>
          </svg>
        </button>
      </div>
      <button class="burger-nav-btn"><a href="#benefits">Benefits</a></button>
      <p class="burger-line"></p>
      <button class="burger-nav-btn">
        <a href="#features">Feature Keys</a>
      </button>
      <p class="burger-line"></p>
      <button class="burger-nav-btn">
        <a href="#about">About This Game</a>
      </button>
      <p class="burger-line"></p>
      <button class="burger-nav-btn">
        <a href="#how-to-play">How to Play</a>
      </button>
      <p class="burger-line"></p>
      <button class="burger-nav-btn"><a href="#faq">FAQ</a></button>
      <p class="burger-line"></p>
      <button class="burger-nav-btn"><a href="#reviews">Reviews</a></button>
      <p class="burger-line"></p>
      <button class="burger-nav-btn"><a href="#gallery">Gallery</a></button>
      <p class="burger-line"></p>
    </nav>
  </div>
</section>
