<section class="faq-section">
  <a href="#faq" id="faq"></a>
  <div class="container faq-container">
    <h2 class="title-faq">FAQ</h2>
    <div class="faq-grid">
      <div class="faq-card">
        <h3>Is Candy Blitz free to play?</h3>
        <p>
          Yes! The game is 100% free with optional in-app purchases for boosters
          and cosmetics.
        </p>
      </div>
      <div class="faq-card dark">
        <h3>How do I unlock new levels?</h3>
        <p>
          Earn stars and complete objectives to unlock the next region on the
          world map.
        </p>
      </div>
      <div class="faq-card dark">
        <h3>Are there leaderboards? Absolutely!</h3>
        <p>
          Compete against players worldwide in timed challenges and weekly
          rankings.
        </p>
      </div>
      <div class="faq-card big">
        <h3>Do I need to be online?</h3>
        <p>
          Nope! You can enjoy most features offline, but you’ll need an internet
          connection to compete in global events.
        </p>
      </div>
      <div class="faq-card last">
        <h3>How do I earn more boosters?</h3>
        <p>
          Complete daily tasks, open reward chests, or purchase bundles with
          earned coins.
        </p>
      </div>
    </div>
  </div>
</section>
