<section class="feature">
  <a href="#feature" id="feature"></a>
  <h2 class="feature-title">Feature Keys</h2>
  <div class="feature-container">
    <div class="feature-card">
      <img
        class="feature-img"
        src="/img/desktop/feature/clarity_clock-solid.png"
        alt="Speed Mode"
      />
      <h3 class="feature-card-title">Speed Mode</h3>
      <p class="feature-card-text">
        Race to clear as many candies as you can in under 60 seconds.
      </p>
    </div>
    <div class="feature-card">
      <img
        class="feature-img"
        src="/img/desktop/feature/Group.png"
        alt="Combo Chains"
      />
      <h3 class="feature-card-title">Combo Chains</h3>
      <p class="feature-card-text">
        Chain multiple matches to activate massive candy blitzes.
      </p>
    </div>
    <div class="feature-card">
      <img
        class="feature-img"
        src="/img/desktop/feature/mynaui_infinity-solid.png"
        alt="Endless Boosters"
      />
      <h3 class="feature-card-title">Endless Boosters</h3>
      <p class="feature-card-text">
        Collect and upgrade candy crushers, color bursts, and freeze timers.
      </p>
    </div>
    <div class="feature-card">
      <img
        class="feature-img"
        src="/img/desktop/feature/pepicons-pop_internet-off.png"
        alt="Weekly Tournaments"
      />
      <h3 class="feature-card-title">Weekly Tournaments</h3>
      <p class="feature-card-text">
        Join global events and compete for limited-time prizes.
      </p>
    </div>
    <div class="feature-card">
      <img
        class="feature-img"
        src="/img/desktop/feature/solar_calendar-bold.png"
        alt="Offline Play"
      />
      <h3 class="feature-card-title">Offline Play</h3>
      <p class="feature-card-text">
        No internet? No problem — keep crushing candy anytime, anywhere.
      </p>
    </div>
    <div class="feature-card">
      <img
        class="feature-img-candy"
        src="../img/desktop/feature/typcn_lock-open-outline.png"
        alt="Customizable Candy Board"
      />
      <h3 class="feature-card-title-candy">Customizable Candy Board</h3>
      <p class="feature-card-text">
        Unlock skins, tile designs, and unique backgrounds.
      </p>
    </div>
  </div>
</section>
