<section class="gallery-section">
    <div class="container gallery-container">
<h2 class="title-gallery">Gallery</h2>
<div class="item-container-gallery">
<ul class="gallery-list">
    <li class="gallery-item-desktop"><img src="../img/desktop/gallery/gallery1.png" alt="" class="gallery-img"></li>
    <li class="gallery-item-desktop"><img src="../img/desktop/gallery/gallery2.png" alt="" class="gallery-img"></li>
    <li class="gallery-item-desktop"><img src="../img/desktop/gallery/gallery3.png" alt="" class="gallery-img"></li>
    <li class="gallery-item-desktop"><img src="../img/desktop/gallery/gallery4.png" alt="" class="gallery-img"></li>
    <li class="gallery-item-desktop"><img src="../img/desktop/gallery/gallery5.png" alt="" class="gallery-img"></li>
    
   
</ul>
 <ul class="gallery-list-mobile">
    <li class="gallery-item-mobile"><img src="../img/mobile/gallery/gallery_mob1.png" alt="" class="gallery-img"></li>
    <li class="gallery-item-mobile"><img src="../img/mobile/gallery/gallery_mob2.png" alt="" class="gallery-img"></li>
    <li class="gallery-item-mobile"><img src="../img/mobile/gallery/gallery_mob3.png" alt="" class="gallery-img"></li>
    <li class="gallery-item-mobile"><img src="../img/mobile/gallery/gallery_mob4.png" alt="" class="gallery-img"></li>
    <li class="gallery-item-mobile"><img src="../img/mobile/gallery/gallery_mob5.png" alt="" class="gallery-img"></li>
    </ul>
</div>
</div>
</section>