<section class="gallery-section">
  <a href="#gallery" id="gallery"></a>
  <div class="container gallery-container">
    <h2 class="title-gallery">Gallery</h2>
    <div class="item-container-gallery">
      <ul class="gallery-list">
        <li class="gallery-item-desktop">
          <img
            src="/img/desktop/gallery/gallery1.png"
            srcset="/img/desktop/gallery/gallery1@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
        <li class="gallery-item-desktop">
          <img
            src="/img/desktop/gallery/gallery2.png"
            srcset="/img/desktop/gallery/gallery2@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
        <li class="gallery-item-desktop">
          <img
            src="/img/desktop/gallery/gallery3.png"
            srcset="/img/desktop/gallery/gallery3@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
        <li class="gallery-item-desktop">
          <img
            src="/img/desktop/gallery/gallery4.png"
            srcset="/img/desktop/gallery/gallery4@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
        <li class="gallery-item-desktop">
          <img
            src="/img/desktop/gallery/gallery5.png"
            srcset="/img/desktop/gallery/gallery5@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
      </ul>
      <!-- <ul class="gallery-list-mobile">
        <li class="gallery-item-mobile">
          <img
            src="/img/mobile/gallery/gallery1-mob.png"
            srcset="/img/mobile/gallery/gallery1-mob@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
        <li class="gallery-item-mobile">
          <img
            src="/img/mobile/gallery/gallery2-mob.png"
            srcset="/img/mobile/gallery/gallery2-mob@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
        <li class="gallery-item-mobile">
          <img
            src="/img/mobile/gallery/gallery3-mob.png"
            srcset="/img/mobile/gallery/gallery3-mob@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
        <li class="gallery-item-mobile">
          <img
            src="/img/mobile/gallery/gallery4-mob.png"
            srcset="/img/mobile/gallery/gallery4-mob@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
        <li class="gallery-item-mobile">
          <img
            src="/img/mobile/gallery/gallery5-mob.png"
            srcset="/img/mobile/gallery/gallery5-mob@2x.png 2x"
            alt=""
            class="gallery-img"
          />
        </li>
      </ul> -->
    </div>
  </div>
</section>
