<section class="header">
  <div class="header-container">
    <img class="header-img" src="../img/desktop/Favicon.png" alt="Game Logo" />
    <button class="burger-btn" aria-label="Open menu">
      <svg
        width="23"
        height="26"
        viewBox="0 0 21 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_ii_2080_230)">
          <path
            d="M1.875 8H19.125M1.875 1.5H19.125M1.875 14.5H19.125"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
        <defs>
          <filter
            id="filter0_ii_2080_230"
            x="-1.125"
            y="-1.5"
            width="23.25"
            height="19"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dx="2" dy="2" />
            <feGaussianBlur stdDeviation="2" />
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0"
            />
            <feBlend
              mode="normal"
              in2="shape"
              result="effect1_innerShadow_2080_230"
            />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dx="-2" dy="-2" />
            <feGaussianBlur stdDeviation="2" />
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0"
            />
            <feBlend
              mode="normal"
              in2="effect1_innerShadow_2080_230"
              result="effect2_innerShadow_2080_230"
            />
          </filter>
        </defs>
      </svg>
    </button>
    
    <nav class="header-nav">
      <a href="#benefits" class="header-btn">Benefits</a>
      <a href="#feature" class="header-btn">Feature Keys</a>
      <a href="#about" class="header-btn">About This Game</a>
      <a href="#play" class="header-btn">How to Play</a>
      <a href="#faq" class="header-btn">FAQ</a>
      <a href="#reviews" class="header-btn">Reviews</a>
      <a href="#gallery" class="header-btn">Gallery</a>
    </nav>
  </div>
</section>
