<section class="header">
  <div class="container header-container">
    <img class="header-img" src="../img/desktop/Favicon.png" alt="Game Logo" />
    <nav class="header-nav">
      <a class="header-link" href="#benefits">Benefits</a>
      <a class="header-link" href="#features">Feature Keys</a>
      <a class="header-link" href="#about">About This Game</a>
      <a class="header-link" href="#how-to-play">How to Play</a>
      <a class="header-link" href="#faq">FAQ</a>
      <a class="header-link" href="#reviews">Reviews</a>
      <a class="header-link" href="#gallery">Gallery</a>
    </nav>
  </div>
</section>
