<section class="hero-sect">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Candy Blitz - Match Fast, Blast Big!</h1>
      <div class="hero-image-mobile">
      <img class="hero-img" src="../img/desktop/hero.png" alt="hero-img" />
    </div>
      <a
        class="hero-button-mobile"
        aria-label="Play now"
        href="https://play.google.com/store/apps/details?id=com.TechGeniusGames.CandyBlitz&hl=en&gl=us"
        target="_blank"
      >
        <img  src="../img/desktop/Buttons.png" alt="" />
      </a>
      <p class="hero-description">
        Dive into a sugar-coated adventure with Candy Blitz — the ultimate
        match-3 puzzle game for sweet tooths and quick thinkers! Swap candies,
        trigger explosive combos, and race against the clock in this
        action-packed puzzle challenge. Every tap brings a blast of flavor as
        you speed through vibrant candy worlds. Can you keep up with the blitz?
      </p>

      <a
        class="hero-button"
        aria-label="Play now"
        href="https://play.google.com/store/apps/details?id=com.TechGeniusGames.CandyBlitz&hl=en&gl=us"
        target="_blank"
      >
        <img  src="../img/desktop/Buttons.png" alt="" />
      </a>
    </div>
    <div class="hero-image">
      <img class="hero-img" src="../img/desktop/hero.png" alt="hero-img" />
    </div>
  </div>
</section>
