<section class="play">
  <a href="#play" id="play"></a>
  <div class="play-container">
    <h2 class="play-title">How to Play</h2>
    <ul class="play-list">
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck1.png"
          alt=""
        />
        <img class="play-step" src="/img/desktop/play/Step1.png" alt="" />
        <svg class="play-number" width="8" height="28">
          <use href="/img/icons/sprite.svg#icon-Number1"></use>
        </svg>

        <p class="play-text text">
          Match 3 or More: Swipe to connect identical candies and clear them
          from the board.
        </p>
      </li>
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck2.png"
          alt=""
        />
        <img class="play-step" src="/img/desktop/play/Step2.png" alt="" />
        <svg class="play-number number" width="17" height="28">
          <use href="/img/icons/sprite.svg#icon-Number2"></use>
        </svg>
        <p class="play-text">
          Trigger Blitz Mode: Make fast combos to activate Blitz Mode and boost
          your score.
        </p>
      </li>
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck3.png"
          alt=""
        />
        <img class="play-step" src="/img/desktop/play/Step3.png" alt="" />
        <svg class="play-number number" width="18" height="28">
          <use href="/img/icons/sprite.svg#icon-Number3"></use>
        </svg>
        <p class="play-text text">
          Use Power-Ups: Deploy candy bombs, striped clears, and sprinkle wheels
          to crush tough levels.
        </p>
      </li>
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck4.png"
          alt=""
        />
        <img class="play-step" src="/img/desktop/play/Step4.png" alt="" />
        <svg class="play-number number" width="20" height="28">
          <use href="/img/icons/sprite.svg#icon-Number4"></use>
        </svg>
        <p class="play-text text">
          Complete Objectives: Reach target scores, collect special items, or
          clear all jelly in each level.
        </p>
      </li>

      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck5.png"
          alt=""
        />
        <img class="play-step" src="/img/desktop/play/Step5.png" alt="" />
        <svg class="play-number number" width="18" height="28">
          <use href="/img/icons/sprite.svg#icon-Number5"></use>
        </svg>
        <p class="play-text">
          Earn Coins & Stars: Unlock new worlds, boosters, and customization
          options.
        </p>
      </li>

      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck6.png"
          alt=""
        />
        <img class="play-step" src="/img/desktop/play/Step6.png" alt="" />
        <svg class="play-number number" width="18" height="28">
          <use href="/img/icons/sprite.svg#icon-Number6"></use>
        </svg>
        <p class="play-text">
          Play Daily Events: Special game modes rotate weekly for bonus rewards.
        </p>
      </li>
    </ul>
  </div>
</section>
