<section class="play">
  <a href="#play" id="play"></a>
  <div class="play-container">
    <h2 class="play-title">How to Play</h2>
    <ul class="play-list">
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck.png"
          alt=""
        />
        <span class="play-number1">1</span>
        <p class="play-text">
          Match 3 or More: Swipe to connect identical candies and clear them
          from the board.
        </p>
      </li>
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck (1).png"
          alt=""
        />
        <span class="play-number2">2 </span>
        <p class="play-text">
          Trigger Blitz Mode: Make fast combos to activate Blitz Mode and boost
          your score.
        </p>
      </li>
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck (2).png"
          alt=""
        />
        <span class="play-number3">3 </span>
        <p class="play-text">
          Use Power-Ups: Deploy candy bombs, striped clears, and sprinkle wheels
          to crush tough levels.
        </p>
      </li>
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck (3).png"
          alt=""
        />
        <span class="play-number4">4 </span>
        <p class="play-text">
          Complete Objectives: Reach target scores, collect special items, or
          clear all jelly in each level.
        </p>
      </li>
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Card_how_deck (4).png"
          alt=""
        />
        <span class="play-number5">5 </span>
        <p class="play-text">
          Earn Coins & Stars: Unlock new worlds, boosters, and customization
          options.
        </p>
      </li>
      <li class="play-item">
        <img
          class="play-card"
          src="/img/desktop/play/Discription6.png"
          alt=""
        />
        <span class="play-number6">6 </span>
        <p class="play-text">
          Play Daily Events: Special game modes rotate weekly for bonus rewards.
        </p>
      </li>
    </ul>
  </div>
</section>
