<section class="reviews">
  <a href="#reviews" id="reviews"></a>
  <h2 class="reviews-title">Reviews</h2>
  <div class="reviews-container">
    <div class="reviews-card">
      <p class="name-text">Natalie M</p>
      <p class="line-text"></p>
      <p class="reviews-text">
        "Super fun and no annoying ads. I love that I can play offline on the
        train."
      </p>
    </div>
    <div class="reviews-card-katie">
      <p class="name-text">Katie L</p>
      <p class="line-text"></p>
      <p class="reviews-text">
        "Absolutely love this game! Fast-paced and satisfying — I can’t put it
        down!"
      </p>
    </div>
    <div class="reviews-card">
      <p class="name-text">Devon R</p>
      <p class="line-text"></p>
      <p class="reviews-text">
        "Candy Blitz is everything I wanted in a match-3 — colorful,
        challenging, and addictive!"
      </p>
    </div>
    <div class="reviews-card">
      <p class="name-text">Monica P</p>
      <p class="line-text"></p>
      <p class="reviews-text">
        "The speed element sets this game apart. It’s not just matching – it’s a
        race, and I love it!"
      </p>
    </div>
    <div class="reviews-card">
      <p class="name-text">Aaron W</p>
      <p class="line-text"></p>
      <p class="reviews-text">
        "Blitz Mode is amazing. Every round is intense and rewarding. Great
        job!"
      </p>
    </div>
  </div>
</section>
