:root {
 
  --font-family: "Signika", sans-serif;
  --second-family: "Shantell Sans", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Montserrat", sans-serif;
  --font4: "SF Pro", sans-serif; /* Цей шрифт не підключений! */
  --font5: "Share", sans-serif;
}

body {

  margin: 0;
  background: #ce648e;
  padding-left: 80px;
  padding-right: 80px;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

