.coockies {
  width: 1200px;
  height: 2400px;
}
.coockies-container {
  width: 1040px;
  height: 1916px;
}
.coockies-btn {
  border-radius: 15px;
  padding: 10px;
  width: 174px;
  height: 44px;
  box-shadow: inset -2px -2px 4px 0 rgba(0, 0, 0, 0.35),
    inset 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  background: #9e2283;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 83%;
  color: #fff;
}
.coockies-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}
