@media only screen and (min-width: 1200px) {
  .burger-btn {
    visibility: hidden;
  }
  .header {
    border-radius: 15px;
    max-width: 1040px;
    height: 90px;
    box-shadow: inset -2px -2px 4px 0 rgba(0, 0, 0, 0.5);
    background: #ad2f91;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .header-container {
    width: 984px;
    padding-left: 28px;
    padding-right: 23px;
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-img {
    border-radius: 15px;
    width: auto;
  }
  .header-nav {
    display: flex;
    gap: 21px;
  }
  .header-btn {
    border: none;
    border-radius: 15px;
    padding: 10px;
    box-shadow: inset -2px -2px 4px 0 rgba(0, 0, 0, 0.33),
      inset 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    background: #9e2283;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
  }
  .header-btn:hover {
    box-shadow: inset -2px -2px 4px 0 rgba(0, 0, 0, 0.35),
      inset 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    background: #7e1c68;
  }
  .header-btn:focus {
    box-shadow: inset -2px -2px 4px 0 rgba(0, 0, 0, 0.35),
      inset 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    background: #5f0072;
  }
}
@media only screen and (max-width: 1199px) {
  .header {
    border-radius: 5px;
    margin-left: 16px;
    max-width: 289px;
    height: 46px;
    background-color: #ad2f91;
    margin: 0 auto;
  }

  .header-container {
    height: 26px;

    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .header-nav {
    display: none;
  }

  .header-img {
    border-radius: 5px;
    width: 26px;
    height: 26px;
  }

  .burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23px;
    height: 26px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    top: 0;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .burger-line-el {
    display: block;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    width: 100%;
  }
}
